@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/* Стиль для горизонтального скролбара */
.scrollbar-custom::-webkit-scrollbar {
  height: 3px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(34, 32, 32);
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #e5e7eb;
}
.slider-thumb {
  appearance: none;
  height: 3px;
  background-color: #01caba;
  border-radius: 5px;
}
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}
